*.iml
.DS_Store
**/.DS_Store

.gradle/
.kotlin/
build/
**/build/
composeApp/build/
/local.properties
local.properties

.idea/
**/.idea/

/captures
.externalNativeBuild/
.cxx/

DerivedData/
**/DerivedData/
Pods/
**/Pods/
*.xcuserstate
xcuserdata/
**/xcuserdata/

composeApp/.konan/
